.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
}

.input {
  margin-top: 15px;
  padding: 10px;
}

.invalid {
  background-color: red;
}

.selectRegion {
  text-align: center;
  margin-top: 15px;
  height: 40px;
}

.selectedRegion {
  text-align: center;
}